	<footer>
		<ul class="image">
			<li class="img_foot">
				<img  src="img/vk.png" alt="Logo" width="37" height="37" align="left">
			</li>

			<li class="logo_VK">
				<a href="#"> Наша группа в Вконтакте </a>
			</li>
		</ul>
	</footer>