		<div class="block">
			<div class="logo">
				<a href="index.html">
				<img class="logo" src="img/logotip@2x.png" alt="Logo" width="271px" >
				</a>
			</div>
			<nav class="dws-menu">
				<input type="checkbox" name="toggle" id="menu" class="toggleMenu">
				<label for="menu" class="toggleMenu">
				<p class="mini_menu">_____</p>
				<p class="mini_menu">_____</p>
				<p class="mini_menu">_____</p>
				</label>
				<ul>
					<li>
						<a href="#">Наши работы</a>
					</li>

					<li>
						<a href="contact.html">Контакты</a>
					</li>

					<li>
						<a href="#">Фото</a>
					</li>

					<li>
						<a href="#">Видео</a>
					</li>

					<li>
						<a href="#">Форум</a>
					</li>
				</ul>
			</nav>
		</div>
